img {
    margin-top: 10px;
    margin-left: 10px;
}

button{
    border: none;
    background-color: transparent;
<<<<<<< Updated upstream
=======
    outline: none;
    cursor: pointer;
>>>>>>> Stashed changes
}