.app-bewertung{
    min-height: 770px;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
    padding-top: 20px;
}

.aufklappbuttons{
    text-align: center;
    align-items: center;
}