.login-form {
    width: 40em;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.meldung{
    display: none;
}

.meldungfehlerhaft{
    display: block;
    color: red;
    margin-left: 2%;
}

input{
    border-radius: 50em;
    text-align: center;
    font-size: 1.3em;
}

input[type=text] {
    background-color: #7F868D;
    color: #fff;
    font-size: 1.3em;
    font-weight: 400;
    height: 2.5em;
    margin-bottom: 1em;
    width: 100%;
  }

  input[type=text]:focus, select {
    background-color: #7F868D;;
    outline: none;
    width: 100%;
    font-size: 1.3em;
  }

  ::placeholder {
    color: #ffffff80;
  }

  
input[type=reset] {
    background-color: #E10119;
    color: #fff;
    border: none;
    border-radius: 50em;
    width: 5.0%;
    font-size: 1.3em;
    padding-bottom: 1%;
    padding-left: 1%;
    font-size: 1.3em;
}

input[type=reset]:hover {
    background-color: #8D0011;
}

input[type=reset]:focus {
    outline: none;
}

#submit{
    border-radius: 5em;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #474747;
    color: #fff;
    padding: 1.0%;
    width: 30%;
    margin-left: 65%;
}

#submit:focus{
    border-radius: 50em;
    background-color: #76b238;
    outline: none;
}

#information {
    height: 20px;
    width: 20px;
    float: left;
    margin-left: 20%;
    margin-top: 0px;
}
#text{
    font-size: 15px;
    font-weight: 400;
    margin-right: 20%;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.container-info{
    margin-top: 10px;
}
