#daten-oben {
    text-align: center;
    border: 1px solid #E1E1E1;
    box-shadow: 1px 1px 1px #ccc;
    font-size: 3px;
    height: 85px;
    top: 50%;
    justify-content: center; /* mittig */
    align-items: flex-start; /* mittig */
    display: flex;
}

#daten-liste {
    text-align: center;
    list-style: none;
    font-size: 20px;
    margin-top: 30px;
    width: fit-content;
}

#daten-liste li {
    display: inline;
    margin-right: 20px;
    color: #7F868D;
}
