.app-home {
  padding: 20px;
  align-items: center;
  text-align: center;
  
}
#presentation {
  height: 300px;
  margin-top: 70px;
  margin-bottom: 30px;
}

.weiter{
  margin-top: 10px;
  margin-left: 10px;
}
.weiter p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  font-size: 25px;
  display: inline;
  margin-left: 10px;
  text-align: center;
}