.regler-wertung {
    color: rgb(8, 8, 8);
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.slider {
    -webkit-appearance: none;
    width: 40%;
    height: 10px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    /**opacity: 0.7;*/
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: rgb(201, 8, 8);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(201, 8, 8);
    cursor: pointer;
  }

  #steplist {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    width: 68%;
    margin-left: -69.05%;
    margin-top: 6px;
    margin-bottom: 20px;
  }
  
  #steplist option {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    
    /* background: rgb(214, 213, 213); */
    height: 8px;
    line-height: 4;
    z-index: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    -webkit-user-select: None;
  }

  /* .regler-div {
    height: 70px;
  } */
